<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title> to do list</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <div class="box" id="heading">
    <h1>  <%= k %> </h1>
</div>
<div class="box">

<%  for(var i=0; i<nli.length; i++) { %>
 <div class="item">

 <input type="checkbox">
    <p><%= nli[i] %></p>
  </div>
    <%  }  %>
    <form class="item" action="/" method="post">
      <input type="text" name="newitem" placeholder="new item" autocomplete="off" >
      <button type="submit" name="button">+</button>
    </form>

    </form>
  </div>


</body>

</html>
